/* general element styles */
body {
    font-family: 'Raleway', sans-serif;
    background-color:black;
    color:white;
}

hr{
    border: 2px solid black;
}

/* consistant list styling across browsers */
li  {
    list-style-position:inside;
}

a  {
    color: inherit;
}

/* dots before nav links */
.navbar-nav > a::before {
    content:'\00B7';
    padding:0 10px;
}

/* Position Landing Area,  */
.splash {
    min-height:100vh;
    padding-top:40vh;
    padding-bottom:20vh;
}

 /* help text stand out on image background */
.clarity {
    background-color: rgba(10,10,10,.6);
    border-radius:5px;
}

/* colored content background panel */
.content-panel {
  background-color:rgba(10, 10, 10,.9);
  border: 2px solid black; 
  margin-bottom:50vh;
}

#contact > .content-panel {
    margin-bottom:0;
}

/* helps align section title for navigation */
.nav-fix {
    margin-top:-50px;
    padding-top:50px;
}

/* each individual apps container */
.app {
    border-radius:10px;
    border: 1px solid rgba(0,0,0,0);
    margin-bottom:20px;
    padding-bottom:20px;
}
.app:hover {
    background-color: #222;
    transition:.75s;
    border: 1px solid black;
}

.carousel {
    margin-top: 20px;
}
.carousel-item > img {
    width:90%;
    height:90%;
    margin:auto;
}

.app-title {
    background-color: white;
    color: #222;
    margin: 20px 0 10px;
    font-weight: bold;
}

/* Main Photo portion of app containers without carousel */
.app-photo-wrap{
    background-color:lightgrey;
    width: 95%;
    border-radius: 4px;
    margin: 20px 2.5%;
}

/* parallax background and foreground classes */
/* media queries to disable parallax on phones */
@media(min-width:500px){
    .parallax {
    perspective: 1px;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    }
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media(min-width:500px){
    .parallax__layer--base {
        transform: translateZ(0);
    }
    
}
@media(min-width:500px){
    .parallax__layer--back {
        transform: translateZ(-1px) scale(2);
    }
}
/* maintain coverage of background photo */
.background-sizer {
    min-width:100%;
}

@media(max-width:320px){
    .background-sizer {
        height:5000px;
        position:absolute;
        right:-100px;
    }
}
@media(min-width:321px) and (max-width:400px){
    .background-sizer {
        height:2800px;
        position:absolute;
        right:-200px;
    }
}
@media(min-width:401px) and (max-width:500px){
    .background-sizer {
        height:2500px;
        position:absolute;
        right:-200px;
    }
}
@media(min-width:501px) and (max-width:768px){
    .background-sizer {
        height:2400px;
    }
}
@media(min-width:768px) and (max-width:1000px) {
    .background-sizer {
        height:2000px;
    }
}
@media(min-width:1001px) and (max-width:1450px){
    .background-sizer {
        height:1900px;
    }
}

@media(min-width:1451px) {
    .background-sizer {
        height:2500px;
    }
}


