/* general element styles */
body {
    font-family: 'Raleway', sans-serif;
    background-color:black;
    color:white;
}

hr{
    border: 2px solid black;
}

/* consistant list styling across browsers */
li  {
    list-style-position:inside;
}

a  {
    color: inherit;
}

h1 {
    font-size:70px;
}

h2 {
    font-size:45px;
}

/* dots before nav links */
.nav > li > a::before {
    content:'\00B7';
    padding-right:5px;
}

/* Position Landing Area,  */
.splash {
    min-height:100vh;
    padding-top:40vh;
}

 /* help text stand out on image background */
.clarity {
    background-color: rgba(10,10,10,.6);
    line-height: 1.2;
    border-radius:5px;
    font-weight:700;
    display:inline;
}

.clarity > small{
    color: inherit;
}

/* colored content background panel */
.content-panel {
  background-color:rgba(10, 10, 10,.9);
  border: 2px solid black; 
  margin-bottom:50vh;
  padding:10px 30px;
}

/* helps align section title after navigation */
.nav-fix {
    margin-top:-50px;
    padding-top:50px;
}

.lead {
    margin-top:30px;
    margin-bottom:30px;
}

/* each individual apps container */
.app {
    border-radius:10px;
}

.app:hover {
    background-color: #222;
    transition:1.5s;
    border: 1px solid black;
}


.app-title {
    background-color: white;
    color: black;
    margin: 50px 20px 20px 20px;
    border-radius: 4px;
    font-weight: bold;
}

/* Main Photo portion of app containers */
.app-photo-wrap{
    background-color:lightgrey;
    width: 95%;
    border-radius: 4px;
    padding: 3px;
    margin: 20px 2.5%;
    transition:.5s ease-out;
}

.app-photo-wrap:hover {
    background-color:white;
    transition:.5s ease-in;
}

.contact {
    padding: 15px;
    margin-top:-50px;
    padding-top:50px;
}

.contact-icon{
    transition: .5s ease-in-out;
    margin:30px;
}

.contact-icon:hover {
     transform:scale(1.1);   
}
 
/* make email icon white and larger */
 .glyphicon-envelope {
    font-size: 65px;
    color: white;
    top:30px;
}

/* parallax background and foreground classes */
.parallax {
  perspective: 1px;
  height:100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.background-sizer {
    width:100%;
    min-width:1000px;
}
/* space out rows a bit */
.row::after {
    margin-bottom:20px;
}
